.input-element {
    width: 95%;
    margin: 5px;
}

.table-style {
    padding: 10px;
    width: 100%;
}

.row-class {
    margin: 5px 5px 25px 15px;
}

.button-class {
    padding: 15px;
    margin: 5px 5px 25px 15px;
}

.add-border {
    top: 10px;
    border: 1px solid #CCC;
    width: inherit;
    margin: 10px;
    padding: 5px;
}

.error {
    color: #ff0000;
}

.errorblock {
    color: #000;
    background-color: #ffEEEE;
    border: 3px solid #ff0000;
    padding: 8px;
    margin: 16px;
}