.block-border {
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #CCC;
    height: 150px;
    width: inherit;
    background: #FFF;
    box-shadow: 0 0 10px -3px #000000;
    margin: 5px 10px;
}

.block-title {
    height: 36px;
    margin-left: 10px;
}

.pic-td {
    width: 150px;
}

.date-td {
    color: #555;
    text-align: right;
}

.delete-link {
    color: #ff0000;
    text-align: right;
}

.fill-parent {
    width: 100%;
    height: 100%;
}

.type-style {
    color: #777;
}