.block-border {
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #CCC;
    height: 150px;
    width: inherit;
    background: #FFF;
    box-shadow: 0 0 10px -3px #000000;
    margin: 5px 10px;
}

.pic-td {
    width: 150px;
}

.date-td {
    text-align: right;
    vertical-align: bottom;
}

.fill-parent {
    width: 100%;
    height: 100%;
}

.type-style {
    color: #777;
}