.errorblock {
    color: #ff0000;
    background-color: #ffEEEE;
    border: 3px solid #ff0000;
    padding: 8px;
    margin: 16px;
}

.login-main {
    margin-top: 100px;
}

.login-border {
    margin: auto;
    text-align: center;
    border: solid 1px #000;
    border-radius: 10px;
    width: 500px;
    padding: 20px;
}
