* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    font: 12px/18px Verdana, Tahoma, sans-serif;
}

a {
    color: #333;
    outline: none;
    text-decoration: none;
}

.no-a-text {
    color: #111;
    outline: none;
    text-decoration: none;
}

a:hover {
    color: #666;
    text-decoration: underline;
}

p {
    margin: 0 0 18px
}

img {
    border: none;
}

input {
    vertical-align: middle;
}

.paging-element {
    padding: 5px 25px;
    margin: 10px;
    border: 1px solid #AAA;
    border-radius: 3px;
}

.paging-div {
    text-align: center;
    height: 20px;
    width: 100%;
    margin: 15px;
}

.categories-table {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.category-cell {
    line-height: 40px;
    vertical-align: middle;
    margin: 3px;
    height: 40px;
    background: #FFF;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 #000000;
}

.background {
    background: url("../images/back.png");
    position: fixed;
    width: 100%;
    height: 100%;
}

.category-title {
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
    padding: 0px 5px;
}

#wrapper {
    width: 900px;
    margin: 0px auto;
    padding: 50px 0px;
}

#cont {
    position: relative;
    background: #FFF;
    border-radius: 10px;
    box-shadow: 0px 0px 50px 5px #000000
}

#main-page-cont {
    padding: 15px;
}

#inset-cont {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 19px -3px #000000 inset;
}

/* Header
-----------------------------------------------------------------------------*/
#header {
    height: 150px;
    background: url("../images/header.png");
    border-bottom: 2px #000 solid;
}

/* Middle
-----------------------------------------------------------------------------*/
#middle {
    width: 100%;
    height: 1%;
}

#container {
    width: 100%;
}

#content {

}

/* Sidebar Right
-----------------------------------------------------------------------------*/
#sideRight {
    padding-top: 10px;
    margin: 5px;
    width: 250px;
    background: #FFF;
    border: 1px solid #CCC;
    border-radius: 5px;
    box-shadow: 0 0 10px -3px #000000;
}

#sidebar-cont {
    padding: 5px;
}

/* Footer
-----------------------------------------------------------------------------*/
#footer {
    text-align: right;
    height: 20px;
    background: #FFF;
}
