.add-ad-button {
    background: #FFF;
    box-shadow: 0 0 10px -3px #000;
    border-radius: 5px;
    text-align: center;
    margin: 15px auto;
    width: 150px;
    border: 1px solid #777;
}

.login-button {
    border: 1px solid #333;
    border-radius: 10px;
    margin: 0px auto;
    width: 80%;
    text-align: center;
    padding: 3px;
}