.top-list-border {
    width: 100%;
    margin: 5px;
}

.top-item-border {
    padding: 5px;
    border: 1px solid #AAA;
    width: 90%;
    border-radius: 5px;
    height: 70px;
    margin-bottom: 5px;
    background-color: #FFF;
    box-shadow: 0 0 10px -3px #000000 inset;
}