#ad-border {
    top: 10px;
    border: 1px solid #CCC;
    width: inherit;
    margin: 10px;
    padding: 5px;
}

.ad-title {
    margin: 10px;
}

.ad-date {
    text-align: right;
    margin-right: 15px;
}

.ad-pic {
    margin: 20px;
    border: 1px solid #000;
    width: inherit;
    height: 250px;

}

.ad-content {
    padding: 10px;
}

.ad-price {

}

.title-column {
    color: #555;
}

.price-column {
    margin-left: 15px;
}

.ad-seller {

}

.seller-column {
    margin-left: 15px;
}

.ad-delimiter {
    border-bottom: 1px solid #555;
}

.ad-description {

}

.ad-id {
    text-align: right;
    margin-right: 15px;
    margin-top: 15px;
}

